<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>ip地址</th>
            <th>访问页面</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pv : ${pvs}">
            <th scope="row" th:text="${pv.pvId}">1</th>
            <td th:text="${pv.pvIp}">neo</td>
            <td th:text="${pv.pathname}">Otto</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>